<header class="site-header">

  <div class="wrapper2">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav nav-collapse">

     <!--  <div class="trigger"> -->
        <ul>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}

        <!--below urls are not working  -->
        <!--   <li><a class="page-link" href="{{ font | prepend: site.baseurl }}">Font</a></li>
          <li><a class="page-link" href="{{ logo | prepend: site.baseurl }}">Logo</a></li>
          <li><a class="page-link" href="{{ colors | prepend: site.baseurl }}">Colors</a></li>
          <li><a class="page-link" href="{{ button | prepend: site.baseurl }}">button</a></li> -->


        </ul>
     <!--  </div> -->
    </nav>

  </div>

</header>
